<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Hey</title>
    </head>
    <body>
        <script data-main="/main.js" src="/lib/requirejs/require.js"></script>
        <h2>Hey this is the main view</h1>
    </body>
</html>
